Importing Libraries

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup

In [23]:
reviews = []
stars = []

Fetching information from website

In [24]:
for i in range(1,11):
  page = requests.get(f'https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/')
  soup = BeautifulSoup(page.content, 'html5')
  for item in soup.find_all('h2', class_='text_header'):
    reviews.append(item.text)
  for item in soup.find_all('div', class_='rating-10'):
    try:
      stars.append(item.span.text)
    except:
      stars.append(None)

In [26]:
len(reviews)

100

In [27]:
len(stars)

110

In [28]:
stars = stars[:100]

creating table to store the fetched data

In [29]:
df = pd.DataFrame({'reviews':reviews, 'stars':stars})

In [30]:
df.head()

                                  reviews                          stars
0           "flight was one of the worst"  \n\t\t\t\t\t\t\t\t\t\t\t\t\t5
1         "there is a race to the bottom"                              2
2  "need to cancel the ticket and rebook"                              3
3              "very friendly cabin crew"                              2
4        "a good drinks and food service"                              9

Cleaning Data

In [31]:
df['stars'].unique()

array(['\n\t\t\t\t\t\t\t\t\t\t\t\t\t5', '2', '3', '9', '1', '4', '5', '8',
       '6', '7', '10'], dtype=object)

In [36]:
df['stars'] = df['stars'].str.strip('\n\t\t\t\t\t\t\t\t\t\t\t\t\t')

Final Result

In [37]:
df.head()

                                  reviews stars
0           "flight was one of the worst"     5
1         "there is a race to the bottom"     2
2  "need to cancel the ticket and rebook"     3
3              "very friendly cabin crew"     2
4        "a good drinks and food service"     9