In [111]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [112]:
reviews = []
stars = []
date = []

In [113]:
for i in range(1,11):
  page = requests.get(f'https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/')
  soup = BeautifulSoup(page.content, 'html5')

  for item in soup.find_all('div', class_='text_content'):
    reviews.append(item.text)
  for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            stars.append("None")
  for item in soup.find_all('time'):
    date.append(item.text)

In [114]:
len(reviews)

100

In [115]:
len(stars)

110

In [116]:
stars = stars[:100]

In [117]:
df = pd.DataFrame({'reviews':reviews, 'stars':stars, 'date':date})

In [118]:
df.head()

,reviews,stars,date
0,✅ Trip Verified | Flew ATL to LHR 8th Jan 202...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,9th January 2023
1,Not Verified | Great thing about British Airw...,4,8th January 2023
2,Not Verified | The staff are friendly. The pla...,5,6th January 2023
3,✅ Trip Verified | Probably the worst business ...,1,2nd January 2023
4,"✅ Trip Verified | Definitely not recommended, ...",1,2nd January 2023

In [119]:
df.stars.unique()

array(['\n\t\t\t\t\t\t\t\t\t\t\t\t\t5', '4', '5', '1', '2', '8', '6', '3',
       '9', '7', '10'], dtype=object)

In [121]:
df.stars = df.stars.str.strip('\n\t\t\t\t\t\t\t\t\t\t\t\t\t')

In [122]:
df.head()

                                             reviews stars              date
0  ✅ Trip Verified |  Flew ATL to LHR 8th Jan 202...     5  9th January 2023
1  Not Verified |  Great thing about British Airw...     4  8th January 2023
2  Not Verified | The staff are friendly. The pla...     5  6th January 2023
3  ✅ Trip Verified | Probably the worst business ...     1  2nd January 2023
4  ✅ Trip Verified | Definitely not recommended, ...     1  2nd January 2023

In [123]:
import os

cwd = os.getcwd()
df.to_csv(cwd + '/reviews.csv')